<h3><%= t('view.task_index') %></h3>

<div class='sort mt-5'>
  <h5>検索フォーム</h5>
  <%= form_with model: Task.new, method: :get, local: true, url: tasks_path do |f| %>
    <div class='form-group row'>
      <div class='col-sm-5'>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class='col-sm-4'>
        <%= f.select :status, [['未着手'], ['着手中'], ['完了']], {include_blank: 'ステータス検索'}, class: 'form-control' %>
      </div>
      <div class='col-sm-3'>
      <%= f.collection_select :labeling_id, Label.all, :id, :name, { include_blank: true } %>
      </div>
    </div>
    <%= f.hidden_field :search, value: 'true' %>
    <%= f.submit t('view.search'), class: 'btn btn-primary mb-3' %>
  <% end %>
</div>

<div class='sort-nav'>
  <%= link_to t('view.limit_sort'), tasks_path(sort_expired: "limit"), class: 'btn btn-outline-secondary' %>
  <%= link_to t('view.priority_sort'), tasks_path(sort_expired: "priority"), class: 'btn btn-outline-secondary' %>
</div>

<table  id="myTable" class="tablesorter">
  <thead class="thead-light">
    <tr>
      <th>タイトル</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th>終了期限</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @tasks&.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task), name: t('view.show') %></td>
      <td><%= task.status %></td>
      <td><%= ['低','中','高'][task.priority] %></td>
      <% weeks = ["月","火","水","木","金","土","日"] %>
      <% index = task.limit.strftime("%u").to_i %>
      <td><%= task.limit.strftime("%Y年%-m月%-d日 #{weeks[index - 1]}曜日") %></td>
      <td><%= link_to t('view.delete'), task, method: :delete %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
    </tr>
  <% end %>
</table>

<div class='page-nation'>
  <%= paginate @tasks %>
</div>

<script>
$(document).ready(function()
    {
        $("#myTable").tablesorter({
     headers: {
       0: {sorter:false},
       1: {sorter:false},
       4: {sorter:false},
       5: {sorter:false}
     }
        });
    }

);
</script>
