<h1><%= t('view.new') %></h1>

<% if @task.errors.present? %>
  <ul id='error_explanation'>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @task, local: true do |form| %>
  <div class='title'>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class='content'>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class='priority'>
    <%= form.select :priority, [['底', 1], ['中', 2], ['高', 3]] %>
  </div>
  <div class='limit'>
    <%= form.datetime_select :limit, {include_blank: true, start_year: 2020,  use_month_numbers: true}, class: 'time-box' %>
  </div>
  <%= form.submit t('view.regist') %>
<% end %>
