<h3><%= t('view.task_new') %></h3>

<div class='errer-message'>
  <% if @task.errors.present? %>
    <ul id='error_explanation'>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class='task_form'>
  <%= form_with model: @task, local: true do |form| %>
    <div class='form-group'>
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= form.label :content %>
      <%= form.text_area :content, class: 'form-control' %>
    </div>
    <div class='form-group row'>
      <div class='col-2'>
        <%= form.select :priority, [['底', 0], ['中', 1], ['高', 2]], class: 'form-control' %>
      </div>
      <div class='col-10'>
        <%= form.select :status, [['未着手'], ['着手中',], ['完了']], {include_blank: '選択'} %>
      </div>
    </div>
    <div class='form-group'>
      <%= form.datetime_select :limit, {include_blank: true, use_month_numbers: true, selected: Date.today}, class: 'time-box' %>
    </div>
    <%= form.submit t('view.regist'), class: 'btn btn-primary' %>
  <% end %>
</div>
