<!DOCTYPE html>
<html>
  <head>
    <title>ElTraining</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class='navbar md-3 ml-5'>
      <div class='navbar-brand'>
        タスクマネージャ
      </div>

      <ul class='navbar-nav ml-auto'>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class='nav-item'><%= link_to '管理者一覧', admin_users_path, class: 'nav-link' %></li>
            <li class='nav-item'><%= link_to '管理者登録', new_admin_user_path, class: 'nav-link' %></li>
          <% end %>
          <li class='nav-item'><%= link_to 'タスク一覧', tasks_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'タスク作成', new_task_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ログアウト', session_path(current_user.id), method: :delete, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ユーザー情報', @current_user, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ラベル一覧', labels_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ラベル作成', new_label_path, class: 'nav-link' %></li>
        <% else %>
          <li class='nav-item'><%= link_to 'アカウント登録', new_user_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'ログイン', new_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </nav>
    <div class='container'>
      <% if flash.notice.present? %>
        <div class="alert alert-info" role="alert">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: key %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer class='footer'>
      <div class='container text-center mt-3'>
        <p>Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
